* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


section {
    min-height: 100vh;
    padding: 100px 0;
}

header nav {
    background-color:#616161;
}

.navbar-brand img {
    width: 250px;
    padding: 0;
    margin: 0;
}

.carousel-inner {
    height: 450px;
    width: 100%;
    margin-top: 20px;
}

.carousel-inner .carousel-item img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    object-position: center;
}

.carousel-inner .carousel-item img.nowhiring {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    object-position: center;
}

.carousel-control-prev,
.carousel-control-next {
    width: 30%;
}

.card img {
    height: 200px;
    margin: 10px;
    max-width: 100%;
}

footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;

}

.ilustra-servico {
    max-width: 100%;
    width: 350px;
    margin: 0 auto;
}

table img {
    width: 100px;
}

table tr td:last-child {
    width: 200px;
}

.imagemSrv {
    margin-left: 40%;
    width: 50%;
}