* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    padding: 100px 0;
}

.navbar-brand img {
    width: 120px;
}

#teste {
    background-color: #303F9F;;
}